body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    color: white;
}

/* ------header CSS---- */

#header{
    height:100vh;
    background: linear-gradient(rgba(0,0,0,0.6), 
    rgba(0,0,0,0.6)), url(images/bac.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.user-box
{
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
}

.user-box img{
    border-radius: 50%;
    width: 250px;
    border: 2px solid #6caed5;
}

.user-box h1{
    color: #fff;
    font-weight: bold;
    margin: 10 px;
}

.user-box p {
    color: #fff;
}

.scroll-btn {
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}

.scroll-bar span
{
    border: 2px solid #fff;
    font-size: 10px;
    border-radius: 30 px;
}

.scroll-bar
{
    animation: movier 1s infinite alternate;
}

@keyframes mover 
{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}


/* ------------ About ------------- */

.about{
    padding-top: 100px;
    padding-bottom: 50px;
}

.profile-img{
    height: 400px;
}

.nav-bar {
    top:0;
    position: sticky;
    z-index: 2;
}

.nav-bar{
    background-color: black;
}

.nav-bar-brand img{
    height: 30px;
}

.nav-bar .fa-bars{
    /* background-color: #6caed5; */
    font-size: 35px;
    color: white;
}

.nav-bar-toggler{
    outline: none !important;
}

.navbar-nav
{
    float: right;
    text-align: right;
}

.nav-link
{
    color:white !important;
}


.skills-bar
{
    margin-bottom: 6px;
    font-weight: 600;
}

.progress
{
    border-radius: 16px !important;
    margin-bottom: 10px;
}

.progress-bar

{
    border-radius:  16px;
    background: black !important;
}


/* Resume */

.resume
{
    padding-top: 50px;
    padding-bottom: 30px;
    background: #f9f9f9;
}

.resume h3{
    margin-bottom: 50px;
}

.timeline
{
    list-style-type: none;
    position: relative;
}

.timeline:before
{
    content: '';
    background: #555;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

.timeline li{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background: #fff;
}

.timeline li h4 
{
    background-color: #000;
    padding : 5px 0 5px 20px;
    color: white; 
    font-size: 15px;
}

.timeline li span{
    font-weight: bold;
    color: #ccc;
}

.timeline li::before
{
    content:"";
    background: #fff;
    display: inline-block;
    position: absolute;
    border: 3px solid #000;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}